/*styles go here*/

html {
	font-size: 100%;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #BECE4C;
    margin: 0;
    padding: 0 10px;
}

p {
	  color: #AFACAC;
    font-family: 'Merriweather Sans', Georgia, "Times New Roman", sans-serif;
		font-size: 1.3rem;
		line-height: 1.5rem;
		font-weight: 400;
		font-style: italic;
		text-align: center;
}

h1 {
  	color: #72AE69;
		font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		font-size: 4rem;
		line-height: 1.5rem;
		text-align: center;
}

h2,h3 {
  	color: #678962;
		font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 900;
		text-align: center;
}

h4 {
  	color: #7E7E7E;
		font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 900;
		text-align: center;
}

body {
	background-color:#EBEED0;
}

#img{
	border:0;
}

#container{
    width: 95%;
    margin: 0 auto;
}

div ul {
    padding: 0;
	  list-style-type: none;
	  margin: 0;
		padding: 0;
		border-bottom: 1.5px solid #ccc;
}

div ul a:link, div ul a:visited {
	display: block;
	color: #ffffff;
	background-color: #BECE4C;
	font-size: 1.2rem;
	font-weight: 800;
	text-align: center;
	padding: 4px;
	font-family: 'Merriweather Sans', Arial, sans-serif;
	text-decoration: none;
}

div ul a:hover, div ul a:active {
	background-color: #7a991a;
}

.menu-trigger {
	order: 2;
	font-size: 1.75em;
	width: 2em;
}

header h1 {
    order: 1;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
